<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sl.demo.code.db.mybatisplus.mapper.UserMapper">
    <select id="mySelectByXml" resultType="sl.demo.code.db.mybatisplus.entity.User">
        select * from user ${ew.customSqlSegment}
    </select>

    <select id="selectWithUserPage" resultType="sl.demo.code.db.mybatisplus.entity.User">
        <!-- 自定义翻页，适用于多表查询 -->
        select * from user ${ew.customSqlSegment}
    </select>
</mapper>